/MyProject/nbproject/private/
/MyProject/build/
/StudentSkill/nbproject/private/
/MyProject/dist/
/Login/nbproject/private/
/Login/build/
/pe_q1/nbproject/private/
/pe_q1/build/
/pe_q2/nbproject/private/
/pe_q2/build/
/MyProject_12345/nbproject/private/
/MyProject_12345/build/
/MyProject_1122559/nbproject/private/
